body {
    background: url(images/eugenio-mazzone-6ywyo2qtaZ8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-div {
    display: none;
}

.open-modal {
    display: block;
    background-color: rgba(8, 219, 202, 0.116);
    /* width: 400px;
    height: 200px; */
    border: 2px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(104, 218, 238, 0.123);
}

